@charset "UTF-8";

/*共通*/
html{font-size:62.5%;height:100%;box-sizing:border-box;} *, *:before, *:after{box-sizing:inherit;}
body{width:100%;min-width:1024px; height:100%;color:#974349; background:#974349;font-family:'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic',sans-serif;display:block;margin:0;padding:0;font-size:10px;font-size:1.0rem;-webkit-text-size-adjust:100%;}

a{color:#ff6287;outline:none;}
a:visited{color:#ff6287;}
a:hover{color:#2dbee8;}
a:active{color:#2dbee8;}
img{margin:0;padding:0;vertical-align:middle;-webkit-backface-visibility: hidden}
a img:hover{transition:all 0.3s ease;opacity:0.65;filter:alpha(opacity=65);-ms-filter:"alpha(opacity=65)";}
table{border-collapse: collapse;border-spacing: 0;}
td{word-break: break-all}
p,b,dd,dl,td,th,a,li{font-size:1.4rem; line-height:1.8rem;}
b{font-size:1.6rem; line-height:2.2rem;}
ul{list-style:none;}
div,li,td,p{box-sizing:border-box;}

#p-tit{padding: 110px 0 40px;}
.sub-tit{font-family:'Playfair Display','Sawarabi Mincho','Times New Roman', '游明朝', 'YuMincho', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'メイリオ', 'Meiryo', 'serif';position:relative; margin: 0 auto; font-size: 3.8rem; text-align: center; letter-spacing: 5px;color:#ef6a7b;font-weight: normal;}
.sub-tit:after{font-family:游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic',sans-serif;position:absolute; background:#974349;color:#fff;padding:5px 0; text-align:center;left:0;right:0;bottom:-22px;margin: 0 auto;font-weight: normal; font-size: 1.4rem; line-height: 1.4rem; letter-spacing:2px}

.h2-tit{ font-size: 1.7rem;line-height: 2.2rem; padding: 0 0 5px;}
.bg01{ background: #fff4f7}
.bg02{ background: #fff}
.bg03{background:#fff3f7 url(../img/bg-img.gif) top center repeat;}

.mini{ font-size: 85%!important;}
.p-t{padding:20px 0 0}
.m-t40{ margin:40px auto 5px;}
.bold{ font-size: 120%; font-weight: 900}
.bold02{font-weight: 900}
.t-center{text-align: center}
.t-left{text-align: left}
.t-right{text-align: right}
.pnk{color:#ef6a7b}
.blu{color:#00c4f5}
.grn{color:#39c689}

#floor,#floor02{width: 1316px; margin: 0 auto;font-size:0; line-height: 0;}
#floor{padding:10px 10px 60px;}
#floor02{padding:30px 10px 60px;}

/*-pick Up-*/
#slid-floor{width: 1316px; margin: 0 auto; padding:10px 0 20px;box-sizing:border-box;}/*-width: 1316px;-*/

@media screen and (max-width: 1316px){
#floor,#floor02{width:100%;}
#slid-floor{width:100%;}
}

/*-フォント-*/
@font-face {font-family:'juliamo_c';src:url(https://dl.dropboxusercontent.com/s/5me44aeb19mxm6e/juliamo.woff) format('woff');}
.juliamo_c{font-family:juliamo_c; font-size:120%;}

/*-ロード-*/
#loading{position:absolute;left:50%;top:50%;-ms-transform:translate(-50%,-50%);-webkit-transform :translate(-50%,-50%);transform :translate(-50%,-50%);text-align:center; overflow: hidden}
#loader-bg {position:fixed;width:100%;height:100%;top:0px;left:0px;background:#fff;z-index:999;}
.loadimg{animation:load 0.3s ease 0s 1 normal;-webkit-animation:load 0.3s ease 0s 1 normal;}
@keyframes load {0% {opacity:0}100% {opacity:1}}
@-webkit-keyframes load {0% {opacity:0}100% {opacity:1}}

/*-head-*/
header{position:fixed;z-index:998;width:100%;padding:0; border-bottom:5px solid #fff}
nav{display: flex;flex-direction: row;width: 100%;position: relative;background: #fff; border-bottom:5px solid #eb6b7a; padding:10px}
.drawer{display: flex;flex-direction: row;align-items: center;justify-content: space-between;position: relative;height: 70px;padding: 0 1em;}
.n-logo{position: relative;z-index: 999}
/*-都鈴-*/
.navbar_toggle{z-index:9999;}
.head-sp{ display: none}
.menu{width: 100%;-webkit-transform: translateX(0);transform: translateX(0); position: absolute;top:50%; right:0;-ms-transform:translate(0,-50%);-webkit-transform :translate(0,-50%);transform :translate(0,-50%); padding:10px 0 10px 10px;}
.menu ul{display: flex;flex-wrap: wrap;justify-content: flex-end;align-items: center;}
.menu li{padding: 0 10px;}
.menu .tw,.menu .yt,.menu li:last-of-type{padding:0 5px 0 0}

/*-foot-*/
footer{position: relative; width: 100%;}
.foot{ background:#fff4f7; position: relative;box-shadow: 0 10px 24px -8px rgba(255,244,247,.75) inset;-moz-box-shadow: 0 10px 24px -8px rgba(255,244,247,.75) inset;-mz-box-shadow: 0 10px 24px -8px rgba(255,244,247,.75) inset;-webkit-box-shadow: 0 10px 24px -8px rgba(255,244,247,.75) inset;}
.f-floor{max-width: 1316px; padding:10px 5px 5px; position: relative; margin: 0 auto; overflow: hidden}
.f-floor:last-of-type{padding:5px 5px 10px; border-top:1px solid #974349}
.f-logo,
.f-menu{float:left;}
.f-link{float:right;right:10px; bottom:5px; position: absolute}
.f-link li{display:inline-block;text-align:center;margin:0 10px 0 0;}
.f-link li:last-of-type{margin:0; position: relative; bottom:-8px}

.f-menu li{display:inline-block;margin:0 10px 0 0;}
.f-menu li:last-of-type{margin:0;}
.f-menu a{color:#974349;padding:0 0 0 16px; position: relative; font-size: 1.4rem;text-decoration: none;}
.f-menu a:after,.f-menu a:before{content: ""; position:absolute}
.f-menu a:after{ width: 14px; height: 14px;background: #974349;border-radius: 25px;left:0;top:3px;}
.f-menu a:before{position: absolute;display: block;width: 5px;height: 5px;border-top: 1px solid #fff;border-right: 1px solid #fff;-webkit-transform: rotate(45deg);transform: rotate(45deg);left:4px;top:7px; z-index:1}

.f-note{float:right;right:10px; text-align: right; font-size: 1.0rem}

.copy{ background: #974349;padding:5px 0; text-align: center; color:#fff; font-size: 1.2rem; letter-spacing: 2px}

/*-main-*/
#slider{padding:100px 0 0}
.sp-button{border:2px solid #974349!important;}
.sp-buttons{padding-top:5px!important;}
.sp-selected-button{background-color:#974349!important}
#slider a img:hover{opacity:inherit;filter:alpha(opacity=100);-ms-filter:"alpha(opacity=100)";}
#slider a{ display: block}

.slider-pro a{ display: block; position: relative; z-index: 1}

/*-コンテンツ(info tw 製品)--*/
#info,#content{display: inline-block;vertical-align:top;}
#info{max-width: 972px; width: 75%;}
#content{max-width: 324px;width: 25%;margin: 0 0 0 auto;padding:0 0 0 10px;}
.info-tit{ width: 100%; position: relative; border-bottom: 1px solid #eb6b7a; margin:0 0 10px;padding:10px 0 2px}
.info-tit:after{content: "更新情報"; position: absolute; right: 0;bottom:0; font-size: 1.4rem; line-height: 1.8rem;letter-spacing:2px}

.info-list{list-style: none;}
.info-box{display:inline-block; width: 33.33%; padding:5px 5px 10px;vertical-align:top;position: relative; display: none}

.info-box a{display: block;position: absolute;top: 0;left: 0;height:100%;width: 100%;z-index: 1}
.info-box:hover p{color:#2dbee8}
.info-box:hover img{transition:all 0.3s ease;opacity:0.5;filter:alpha(opacity=50);-ms-filter:"alpha(opacity=50)";}

.no-info-box:hover p{color:#974349!important}
.no-info-box:hover img{transition:all 0.3s ease;opacity:1.0!important;filter:alpha(opacity=100)!important;-ms-filter:"alpha(opacity=100)"!important;}

.info-img{ display: block;margin: 0 0 5px}
.info-day{ padding:5px; background:#faeff2;display: block;margin: 0 0 5px; font-size: 1.2rem; line-height: 1.2rem;color:#974349!important}
.info-text{font-size:1.2rem; line-height: 1.8rem}
.info-text .name{font-weight: bold; display: block; font-size: 108%;color:#f66a7b; margin: 0 0 2px}
.info-link{display: block}

.readMoreBtn {display: none;max-width: 320px;margin: 10px auto 0;padding: 8px 20px;border: 1px solid #eb6b7a;font-size: 1.4rem; line-height: 1.6rem; color:#eb6b7a!important; text-align:center}
.readMoreBtn:hover{color:#fff!important; background:#eb6b7a;transition:all 0.3s ease;}
.readMoreBtn:hover span:before{border-top: 2px solid #fff;border-right: 2px solid #fff;transition:all 0.3s ease;}
.readMoreBtn span{position: relative;display: inline-block;}
.readMoreBtn span:before{position: absolute;display: block;width: 10px;height: 10px;border-top: 2px solid #eb6b7a;border-right: 2px solid #eb6b7a;-webkit-transform: rotate(135deg);transform: rotate(135deg);content: '';left:-20px}

.tw-tit{ width: 100%; position: relative; border-bottom: 1px solid #797979; margin:0 0 10px;padding:0 0 2px}
.tw-box{padding:10px; background: #f5f5f5; width:100%; height:100%;}

.pro-tit{ width: 100%; position: relative; border-bottom: 1px solid #eb6b7a; margin:0 0 10px;padding:10px 0 2px}
.pro-tit:after{content: "製品情報"; position: absolute; right: 0;bottom:0; font-size: 1.4rem; line-height: 1.8rem;letter-spacing:2px}
.pro-item-box {width:100%; margin: 20px 0 0}
.pro-item-box a{ display: block; margin:0 0 5px}
.pro-item-box a:last-of-type{margin:0}


/*--製品情報--*/
.product:after{content:"PRODUCT";max-width: 168px;}
.book-tit{font-size: 2.4rem;line-height: 2.8rem; border-bottom: 2px solid #974349; margin: 0 0 10px;padding:0 0 10px;text-align: left}

#pro-info,
#book-info{padding:10px;background:#fff3f7;}
#pro-info{ margin: 0 0 10px;}
.pro-info-box,
.book-info-box{padding:10px;background: #fff; overflow:hidden; position: relative;}
.pro-info-img,
.book-info-img{max-width:268px;float: left;}

.pro-info-text,
.book-info-text{margin: 0 0 0 288px; padding:0 0 60px}
.pro-info-text li,
.book-info-text li{ display:inline-block;max-width: 968px;padding: 5px 0; vertical-align: top}
.pro-info-sub,
.book-info-sub{margin:0 5px 5px 0;background: #eb6b7a; color:#fff; text-align: center; border-radius: 3px;width:70px!important;}
.pro-info-link a,
.book-info-link a{padding:7px 25px 5px; border: 2px solid #eb6b7a; margin:0 5px; border-radius: 35px; position: relative;text-decoration: none;}
.pro-info-link a:after,
.book-info-link a:after{content: ""; position: absolute;display: block;width: 6px;height: 6px;border-top:2px solid #eb6b7a;border-right:2px solid #eb6b7a;-webkit-transform: rotate(45deg)  translateY(-50%);transform: rotate(45deg)  translateY(-50%);right: 8px; top:50%}
.pro-info-link a:hover,
.book-info-link a:hover{ background: #eb6b7a; color:#fff!important;}
.pro-info-link a:hover:after,
.book-info-link a:hover:after{border-top:2px solid #fff;border-right:2px solid #fff;}

/*製品情報・ゲーム*/
.pro-info-tit{margin: 0 0 0 288px;}
.pro-info-text li{width: 90%;}
.pro-info-sub{width:70px!important;letter-spacing: 2px;}

.pro-info-more{ padding:20px 0 0; width: 100%!important}
.pro-info-link { position: absolute;right:10px; bottom:20px; max-width: 968px;}

/*製品情報・書籍*/
#book-info{ width: 49%;display:inline-block; vertical-align:top}
#book-info:nth-of-type(2n+1){margin: 0 1% 1% 0}
#book-info:nth-of-type(2n){margin: 0 0 1% 0}
.book-info-tit{margin: 0 0 5px;}
.book-info-text li{width: 75%;}
.book-info-text li:last-of-type,
.book-info-text li:nth-last-of-type(2){ width: 100%!important}
.book-info-text li:last-of-type{padding:0 5px 5px}
.book-info-sub{width:58px!important;letter-spacing:0;}

.book-info-link{margin: 0 0 0 288px;}
.book-info-link a{ display: block; width: 80%; margin:0 auto; text-align: center}

@media screen and (max-width: 1280px){
	.book-info-text{margin: 0 0 0 278px;}
	.book-info-text li{ display:block;width:100%;padding:0 5px 5px; }
	.book-info-sub{margin:5px 0;width:100%!important;padding:5px!important;}
	.book-info-link a{ width: 100%;}
	.book-info-link{margin: 0 0 0 278px;}
}

/*--イベント情報--*/
.event:after{content:"EVENT";max-width: 246px;}
.bg-eve:nth-of-type(2n+1){background: #f9f9f9;}
.event-tit{padding:0 0 5px;border-bottom: 1px solid #974349; position: relative}
.event-box {padding:10px; font-size:0}
.event-info,.event-img{ display: inline-block; vertical-align: top;}
.event-info{ width: 30%;border-collapse: separate;border-spacing: 5px;}
.event-info td{padding:5px 0;}
.event-info td:nth-of-type(2n+1){background:#ef6a7b;width:25%; text-align: center;color:#fff}
.event-info td:nth-of-type(2n){;width:100%}
.event-info tr:last-of-type td{ background:rgba(255,255,255,0)!important; text-align: left!important;color:#974349!important}
.event-img{width: 69%;margin:0 0 0 1%;}

/*イベントend*/
.eve-end .event-tit{ padding:0 90px 5px 0 }
.eve-end .event-tit:before{content: "終了しました";position: absolute; bottom:5px; right:0; padding:3px 5px; color:#eb6b7a; border: 1px solid #eb6b7a;font-size: 1.2rem; font-weight: normal;width: 84px}
.eve-end .event-img{background: #000}
.eve-end .event-img img{opacity:0.75;filter:alpha(opacity=75);-ms-filter:"alpha(opacity=75)";}


/*--サポート--*/
.support:after{content:"SUPPORT";max-width: 246px;}
.sup-text{max-width:768px; margin:30px auto;line-height: 2.4rem;}
.sup-text-sub{border: 1px solid #ef6a7b; padding:10px; text-align: center}
.sup-text-sub-tit{ display: block; margin: 0 auto 5px; width: 100%; background:#ef6a7b; color:#fff; font-size: 120%; padding:5px 0 3px}

input.submit{
	width:100%;
	height:40px;
	line-height:30px;
	border: 2px solid #ff8397!important;
	color:#ff8397!important;
	padding:0;
	cursor:pointer;
	font-weight:bold;
	font-size:2.0rem!important;
	letter-spacing:5px;
	border-radius:25px;
}
input.submit:hover{background: #ff8397;color:#fff!important;}
#submit_press input{border:none}

