@charset "UTF-8";
/*-----------------------------------
共有
-----------------------------------*/
#mv-contents{position: relative;}
#mv-main{position:relative;width:100%;height:100%;overflow:hidden;}
.mv-bg{width:100%;height:100%;top:0}
.mv-bg{background:url(../img/mv-bg.jpg) center 46% no-repeat; background-size:cover;position: fixed;}

.sp-bg-col01{background: linear-gradient(to bottom,rgba(40,0,15,.9) 0%,rgba(255,0,15,.7) 25%,rgba(40,0,15,.95) 100%);
	background: -webkit-linear-gradient(top,rgba(40,0,15,.9) 0%,rgba(40,0,15,.7) 25%,rgba(40,0,15,.95) 100%);}

.sp-floor{padding:30px 10px 80px!important;}

@media screen and (max-width:1027px){
	.sp-floor{padding:30px 0 80px!important;}
}

/*-----------------------------------
sp見出し
-----------------------------------*/
.sp-bg-h{background:rgba(0,196,245,.8)}
.sp-tit{margin: 30px auto 10px!important;letter-spacing:0px!important;text-shadow:1px 1px 10px rgba(0,124,155,.85), 1px 1px 10px rgba(0,124,155,.85), 1px 1px 10px rgba(0,124,155,.85), -1px -1px 10px rgba(0,124,155,.85), -1px -1px 10px rgba(0,124,155,.85), -1px -1px 10px rgba(0,124,155,.85)!important;}
.sp-tit:first-letter{color:#ff6!important}

.cpn-tit:after{content: "-クダンノフォークロア-"!important;}

.cpn-name{color: #fff;display: block;max-width: 768px;margin: 0 auto 30px;text-align: center;font-size: 2.0rem; line-height: 2.4rem; letter-spacing: 2px; background: rgba(0,0,0,.5);border: 5px solid rgba(0,0,0,.1)}
.cpn-name .sub-name{border: 1px solid #fff;padding:10px 0;display: block;}
.cpn-name .sub-name02{border-bottom: 1px solid #fff;padding:5px 0;display: block;}

@media screen and (max-width: 640px){
	.cpn-name{letter-spacing: 0;}
}

@media screen and (max-width: 480px){
	.sp-tit{margin: 30px auto 0!important;}
	.cpn-name{letter-spacing:1px; margin: 0 auto 10px}
}

/*-----------------------------------
更新履歴
-----------------------------------*/
.info-page .news-tit:after{content: "-更新履歴-";}

/*-----------------------------------
sp-index
-----------------------------------*/
.sp-tit:after{content: "-スペシャル-";}
.sp-page .t-no .t-info{color:#ccc}
.sp-page .topic-list{margin: 0 0 60px}
.sp-page .topic-tit{font-size: 1.6rem; line-height: 1.6rem;padding:5px 0}

/*-----------------------------------
予約キャンペーン
-----------------------------------*/
.yoyaku-tit {margin: 0 auto 20px; font-size: 1.8rem; line-height:0; text-align: center;border-bottom:10px solid rgba(255,255,255,.5); letter-spacing: 2px;color:#ff6; width: 90%; font-weight: bold; display: block}

.yoyaku-img{ max-width:640px; margin: 20px auto}
.yoyaku-img02{ max-width:320px; margin: 0 auto 20px}
.yoyaku-img img,.yoyaku-img02 img{border: 2px solid #fff; box-shadow:0px 0px 12px 0px rgba(0,0,0,.5);}


@media screen and (max-width: 480px){
	.yoyaku-tit{font-size: 1.6rem;width: 94%;}
}

/*-----------------------------------
お取り扱い店舗情報
-----------------------------------*/
.shop-list{display: table;width: 100%;max-width: 768px; margin: 0 auto 10px;}
.shop-list:first-of-type{margin: -10px auto 10px;}
.shop-region,.shop-name{display: table-cell;}
.shop-region{width: 20%; background:rgba(233,71,102,.8);padding:10px;text-align: center;letter-spacing: 5px}
.shop-name{width: 80%; font-size: 0;padding:0 0 0 1px;}
.shop-name li{display: inline-block; width: 49.2%; margin: 0 1px 2px; background: #fff;padding:10px;color:#333; height: 50px; vertical-align: middle;position: relative}
.shop-name li:last-of-type,
.shop-name li:nth-last-of-type(2){margin: 0 1px;}
.shop-name li p,
.shop-name li a{position: absolute;top:50%;-ms-transform:translate(0,-50%);-webkit-transform :translate(0,-50%);transform :translate(0,-50%);}

@media screen and (max-width: 640px){
	.shop-list{display: block}
	.shop-region,.shop-name{display: block; width: 100%}
	.shop-region{margin: 0 0 2px;padding:2px}
	.shop-name li{width:49.5%;height:40px;}
	.shop-name li:nth-child(2n+1){margin:0.5% 1% 0.5% 0!important}
	.shop-name li:nth-child(2n){margin:0.5% 0!important}
}

/*-----------------------------------
限定版同梱特典情報
-----------------------------------*/
.provolege{font-size: 0; line-height: 0}
.provolege-name{border-bottom: 1px solid #fff;width: 90%; max-width: 768px; margin: 0 auto 20px; text-align: center; font-size: 1.8rem; letter-spacing: 10px;}

.provolege-item {width:32.33%; margin:0.5%; padding:10px; background: rgba(255,255,255,.5);display: inline-block;box-shadow:0px 0px 12px 0px rgba(0,0,0,.5); vertical-align: top; height:510px}
.provolege-item p{text-align: left}
.provolege-item-img {margin: 10px 0}
.provolege-item-name { background:#e94766; padding:5px; font-size: 1.6rem;}

@media screen and (max-width:768px){
	.provolege-item{ height:430px;}
}

@media screen and (max-width:640px){
	.provolege-item{ height:470px;width: 49%;}
	.provolege-item-img{margin: 5px 0}
}

@media screen and (max-width:480px){
	.provolege-item{ height:auto;width: 100%;padding:5%;}
}

/*-----------------------------------
店舗特典情報
-----------------------------------*/
.tenpo-sp{padding:10px; background: rgba(255,255,255,.5);display: inline-block;box-shadow:0px 0px 12px 0px rgba(0,0,0,.5); vertical-align: top;margin: 0.5%}

.t-w33{width: 32.33%;}
.t-w50{width: 49%;}
.t-w100{width: 99%;}
.t-s-n01{height: 50px; overflow: hidden}
.tenpo-sp-sub{max-width: 800px; margin: 0 auto}

.tenpo-sp-name{padding: 10px 0 0;border-bottom: 1px solid #fff;}
.tenpo-sp-name02{padding: 5px 0 0}
.tenpo-sp-name-sub{background: rgba(255,255,255,.7); text-align: center;color:#333;margin: 5px 0;padding:5px!important;}
.tenpo-sp-name-sub .t-s-name{display: block;}

.tenpo-item{ display: inline-block; width: 49%; margin:0 0.5% 1%; vertical-align: top;}
.tenpo-item div{background: rgba(40,0,15,.2); height: 435px; overflow: hidden;position: relative;}
.tenpo-item img{display: block; max-width: 308px; margin:auto;position: absolute;top: 50%;left:50%;-ms-transform: translate(-50%,-50%);-webkit-transform : translate(-50%,-50%);transform : translate(-50%,-50%);}
.tenpo-item img.yoko{max-width:inherit; margin:auto 0;}


@media screen and (max-width:768px){
	.t-w50{width: 49%;}
}

@media screen and (max-width:640px){
	.t-w33{width: 49%;}
	.tenpo-sp .more-box{margin: 0 auto}
	.tenpo-item div{height: 410px;}
}
@media screen and (max-width:560px){
	.tenpo-item div{height:358px;}
}
@media screen and (max-width:480px){
	.tenpo-sp{margin:1% 0}
	.t-w100{width: 100%;}
	.t-w50{width: 100%;}
	.t-w33{width: 100%;}
	.t-s-n01{height: auto}
	.tenpo-item{width: 100%; margin: 0 0 1%;}
	.tenpo-item div{height:inherit; position:static}
	.tenpo-item img{max-width:inherit; position: static;-ms-transform:none;-webkit-transform :none;transform:none}
	.no-480{display: none!important}
}

/*-----------------------------------
イベント情報
-----------------------------------*/
.ev-schedule{ width: 100%;max-width: 640px; margin: 0 auto;border-collapse: separate;border-spacing: 5px;}
.ev-schedule td{ padding:10px;color:#333;}
.ev-schedule td:nth-of-type(2n+1){ width:8%; background: rgba(233,71,102,.8); color:#fff; text-align: center}
.ev-schedule td:nth-of-type(2n){ width:42%; background: #fff;}

.ev-schedule.max768 td:nth-of-type(2n+1){background: rgba(0,0,0,.5);}
.ev-schedule.max768 td:nth-of-type(2n){background:rgba(255,255,255,.75);}

@media screen and (max-width: 900px){
	.ev-schedule td:nth-of-type(2n+1){ width:12%;}
	.ev-schedule td:nth-of-type(2n){ width:38%;}
}

@media screen and (max-width: 640px){
	.ev-schedule td{font-size: 1.2rem;line-height: 1.6rem;}
	.ev-schedule td:nth-of-type(2n+1){ width:20%;}
	.ev-schedule td:nth-of-type(2n){ width:80%;}
}

@media screen and (max-width: 400px){
	.ev-schedule{border-collapse:inherit;border-spacing:0;}
	.ev-schedule td:nth-of-type(2n+1){ width:100%;display:block;}
	.ev-schedule td:nth-of-type(2n){ width:100%;display: block}
}


/*-----------------------------------
インタビュー+コラム
-----------------------------------*/

.column-box{padding:50px; max-width: 800px; margin: 0 auto 20px; background: rgba(255,255,255,.9); color:#333}

.column-text{line-height: 2.2rem;}
.column-text img{margin: 20px auto; display: block}
.column-img01{max-width:480px;}
.column-img02{max-width:640px;}

.column-box .more-box{margin: 30px auto 0!important; max-width: 480px!important;}

.column-img-box{margin: 0 auto 10px;}
.column-img-box img{display: block}
.column-tit-sub{background:#e94766; padding:5px; text-align: center; color:#fff; font-weight: bold; font-size: 1.6rem; line-height: 2.0rem;}


@media screen and (max-width:640px){
	.column-box{padding:20px;}
	.column-tit-sub{text-align: left}
}

@media screen and (max-width: 480px){
	.column-box{padding:10px;}
}

/*-----------------------------------
Twitter素材DL
-----------------------------------*/
.tw-item,.tw-item02{max-width: 640px; padding:10px 0;margin: 0 auto; font-size: 0;}
.tw-item a{display: inline-block; vertical-align: top; margin:1%; width: 48%; background: #fff}
.tw-item02 a{width: 100%; display: block; margin: 1% 0; background: #fff}


/*-----------------------------------
デモムービー
-----------------------------------*/
#movie{font-size:0; line-height:0; text-align: center}
.m-box{width:70%;display:inline-block; padding:5px;box-sizing: border-box;}
.m-img{position: relative;width: 100%;padding: 58% 0 0 0;}
.m-img iframe{position: absolute;top: 0;left: 0;width: 100%; height: 100%;}

@media screen and (max-width:640px){
	.m-box{ width:100%;}
}

/*-----------------------------------
体験版
-----------------------------------*/
.exper{font-size: 0; line-height: 0; margin: 0 auto 30px; text-align: center}
.exper .more-box{ display: inline-block; width: 49%; margin: 0.5%; max-width: inherit}


/*----------------------
アップデートパッチ 表示・非表示
----------------------*/
.updata-back{ overflow: hidden; margin: 20px 0}
.updata-back .updata-b-btn {width: 100%;max-width: 480px;margin: 0 auto;display: block;padding: 10px;font-weight: bold;cursor :pointer;color: #fff;background:#00c4f5;font-size: 1.6rem; font-weight: normal;position: relative; text-align: center;}

.updata-back .updata-b-btn:after {position: absolute;top: 0;bottom: 0;right: 10px;margin: auto;width: 8px;height: 8px;border-top: 2px solid #fff;border-right: 2px solid #fff;-webkit-transform: rotate(135deg);transform: rotate(135deg);content: "";}

.updata-back .updata-b-btn:hover{color: #fff;background:#e94766;}
.updata-back .updata-b-btn:hover:after{border-top: 2px solid #fff;border-right: 2px solid #fff;}

.hidden_show{background: rgba(0,0,0,.5);margin-top: 10px;}
.hidden_show .cpn-name{margin: 0 auto 10px}
.hidden_show p{padding:0 0 10px}

.updata-back input {display: none;}
.updata-back .hidden_show {height: 0;padding: 0;overflow: hidden;opacity: 0;transition: 0.5s;}

.updata-back input:checked ~ .hidden_show {padding: 10px;height: auto;opacity: 1;
}


/*----------------------
ダウンロード販売ページ
----------------------*/
.dl-table{border-spacing: 2px;border-collapse: separate;}

.dl-t-img{width:35%;}
.dl-t-text01,.dl-t-text02{ padding:5px;}

.dl-t-text01{background: rgba(0,0,0,.5);width:13%;}
.dl-t-text02{background: rgba(255,255,255,.5);text-align: left; color:#3a3a3a;width:52%;}
.di-tit{background: rgba(0,196,245,.8)!important}

.dl-table-sp,.dl-table-sp02{border-spacing: 5px;border-collapse: separate;width: 100%}
.dl-table-sp .dl-t-img{width:20%;}
.dl-table-sp .dl-t-text02{background: rgba(255,255,255,.75);}
.dl-sp-btn{font-size: 0;}
.dl-sp-btn div{ display: inline-block; width: 48%; padding: 20px;margin:1%; background: rgba(0,0,0,.5);}
.dl-sp-btn p{margin-bottom: 10px;font-size: 1.6rem;}
.dl-sp-btn a{display: inline-block;}
.dl-sp-btn .and{width: 100%;height: 100%; max-height:98px;max-width: 329px}
.dl-sp-btn .ios{width: 100%;height: 100%; max-height:98px;max-width: 290px}

.dl-cg-sp{font-size: 0; margin: 0 auto}
.dl-cg-sp a{width: 32.33%; margin:0.5%; display: inline-block;border: 2px solid #fff; background: #fff;}

.dl-table-sp02 .dl-t-text01{width:8%;padding:10px}
.dl-table-sp02 .dl-t-text02{width:42%;padding:10px;background: rgba(255,255,255,.75);}

@media screen and (max-width:768px){
	.dl-table-sp .dl-t-img{width:13.5%; vertical-align: top;}
	.dl-sp-btn p{font-size: 1.2rem;}
}

@media screen and (max-width:640px){
	.dl-table-sp .dl-t-img{width:30%;}
	.dl-sp-btn div{width: 100%; margin: 0 0 10px; padding:10px;}
	.dl-sp-btn img{max-width:320px;height: auto; max-height:auto;}
	.dl-sp-btn .and,
	.dl-sp-btn .ios{width: 100%;height: auto; max-height:auto;max-width: 320px}

	.dl-table-sp .dl-t-text01{font-size: 1.2rem; width: 17%}
	
	.dl-table-sp02 .dl-t-text01{width:20%;font-size: 1.2rem;}
	.dl-table-sp02 .dl-t-text02{width:80%;font-size: 1.2rem;}
}

@media screen and (max-width:480px){
	.dl-table td{display: block;width: 100%!important;}
	.dl-t-img{margin-bottom: 7px}
	.dl-t-text02{margin-bottom: 5px}
	.dl-link .more-box{width: 100%!important}
	
	.dl-table-sp .dl-t-img{width:45%; vertical-align: top}
	.dl-table-sp .dl-t-text01,
	.dl-table-sp .dl-t-text02{display: block; width: 100%; padding:2px 5px}
	.dl-table-sp .dl-t-text02{margin-bottom: 2px}
	
	.dl-cg-sp{ display: block;padding:0 0 5px; overflow-x: scroll;white-space: nowrap;-webkit-overflow-scrolling: touch;overflow-x: auto;overflow-y: hidden;}
	.dl-cg-sp a{width:45%;}
}

/*-----------------------------------
アンケートページ
-----------------------------------*/
.ank-mb-lin{padding:0 0 20px; bottom:0 0 20px;}
.ank-nb{border-bottom: none!important;margin-bottom:0!important; background: none!important}
.ank-floor{padding:40px 25px;}
.ank-box{ max-width: 640px; margin:15px auto 30px;text-align: left;}
.ank-box-sub{ width:50%; display:inline-block; vertical-align: top;}
.ank-box.mb-10{ margin:15px auto 10px;}

.ank-box-sub:first-of-type{ width:48%; margin-right: 2%;}
.ank-hissu{display: inline-block;font-size:1.2rem; background: #e94766;padding:0 5px; margin-left:5px;border-radius: 3px;position: relative;top:-2px;}

.ank-radio label{margin-bottom:10px;}
.ank-radio02 label{margin-bottom:10px; display: block!important;}
.ank-radio textarea,
.ank-radio02 textarea{margin:-6px 0 15px}{margin:-6px 0 15px}


.ank-tit .l,
.ank-tit .r{ display: inline-block; vertical-align: top;}
.ank-tit .l{width: 8%;}
.ank-tit .r{width:92%;}
.ank-sub-tit:before{content: "★";color:#ff9;}

.ank-box label{font-size: 1.6rem; display: inline-block;} 
.ank-box label:first-of-type{display:block; font-size: 1.8rem;line-height: 2.4rem; margin-bottom:10px; padding:5px 5px 2px; border-bottom: 1px solid #fff; letter-spacing: 1px; background: rgba(0,0,0,.35)}
.ank-box input[type=text],
.ank-box input[type=email],
.ank-box textarea,
.ank-box select {display:block;width: 100%;height: 38px;padding: 6px 12px;color: #555;background-color: #fff;border-radius: 3px;}

.ank-box textarea{padding: 10px 12px 6px!important;height:auto!important;}

.ank-box input:focus,
.ank-box textarea:focus,
.ank-box select:focus{background-color:rgba(0,196,245,.8)!important;outline:none;color:#fff;}

.check{display: none;}
.check-sub{padding-left: 20px;position:relative;margin-right: 20px;margin-bottom:10px;}
.check-sub::before{content: "";display: block;position: absolute;top: 3px;left: 0;bottom:-2px;width: 15px;height: 15px;border: 1px solid #fff;background: #fff;border-radius: 3px;}
.check:checked + .check-sub{color: #ff9;}
.check:checked + .check-sub::after{content: "";display: block;position: absolute;top: 0;left: 5px;width: 7px;height: 14px;transform: rotate(40deg);border-bottom: 3px solid #00c4f5;border-right: 3px solid #00c4f5;}

::placeholder{color:#ccc!important;}

button,input[type=button] {
	margin: 20px auto 0;
	width:100%;
	max-width: 768px;
	letter-spacing: 2px;
	padding: 16px 0 11px;
	font-size: 2.0rem;
	line-height: 1;
	cursor: pointer;
	font-weight: bold;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #0093c9;
	color: #ffffff;
	background: #00c4f5;
}
input[type=button] {
	border: 1px solid #c3c3c3;
	color: #7c7c7c;
	background: #ffffff;
}
input[type=button] + button {
	display: inline-block;
}
.error{font-size: 1.4rem;line-height:1;padding: 5px 0 0; color:#0ff;}
.error-form {border:1px solid #fb9a93 !important; background-color:#ff9!important }

.ank-btn-box{width: 100%; max-width: 768px;margin:0 auto; padding: 30px 0 0;}
.ank-btn-box input,
.ank-btn-box button{width: 48%!important; display: inline-block!important;margin:1%;}

.ank-present{margin:0 auto 30px; border-bottom:1px solid #fff; padding:0 0 30px;}

.ank-present p{background:rgba(0,0,0,.35); padding:10px;max-width: 640px; margin: 0 auto; line-height: 2.4rem;}
.ank-present img{display: block; max-width: 560px;margin: 5px auto;}

@media screen and (max-width:640px){
	.ank-tit .l{width:10%;}
	.ank-tit .r{width:90%;}
}

@media screen and (max-width:480px){
	.ank-floor{padding: 30px 10px;}
	.ank-box-sub:first-of-type{width: 100%;margin-right:0; margin-bottom: 20px;}
	.ank-box-sub{width: 100%}
	.ank-box label:first-of-type{font-size: 1.6rem;}
	.ank-tit .l{width:12%;}
	.ank-tit .r{width:88%;}
	.ank-btn-box input,
	.ank-btn-box button{width:100%!important; display:block!important;margin:0 auto 10px;max-width: 320px!important;}
}
@media screen and (max-width:320px){
	.ank-tit .l{width:15%;}
	.ank-tit .r{width:85%;}
}


/*-----------------------------------
RTキャンペーン
-----------------------------------*/
.rt-tweet{max-width:500px; margin:10px auto}
.rt-tyui{max-width: 640px; margin: 20px auto 10px;    background: rgba(0,0,0,.5); padding:10px; font-size: 1.2rem;text-align: left}

.rt-shikishi{max-width: 480px; margin: 10px auto 20px}
.rt-shikishi img {border: 2px solid #fff;box-shadow: 0px 0px 12px 0px rgba(0,0,0,.5);}
