@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* 言語設定 */
html[lang="ja"] body { font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;}
html[lang="ja"] body .font01 { font-family:'M PLUS 1p', sans-serif; }

html[lang="en"] body { font-family: Verdana, Helvetica, Arial, 'Noto Sans Japanese', sans-serif; }
html[lang="cn"] body { font-family: "微软雅黑","Microsoft YaHei",Microsoft YaHei,"SimHei",SimHei,"宋体","SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",'Noto Sans Japanese',sans-serif; }
html[lang="tw"] body { font-family: Helvetica,Verdana,Arial,"5FAE8EDF6B639ED19AD4","Microsoft JhengHei","51379ED1 Pro","LiHei Pro", 'Noto Sans Japanese', sans-serif; }
html[lang="ko"] body { font-family: 'td','ng', 'Noto Sans Japanese', sans-serif; }


/*---------------------------
共通
---------------------------*/
html { font-size:62.5%; height:100%; box-sizing:border-box; scroll-behavior:smooth; } *, *:before, *:after { box-sizing:inherit; }
body { width:100%; min-width:1024px; height:100%; min-height:768px;
	display:block; margin:0; padding:0; font-size:10px; font-size:1.0rem; -webkit-text-size-adjust:100%;
	color:#000; position:relative; line-height:1; word-wrap:break-word; overflow-wrap:break-word; }

img { margin:0; padding:0; vertical-align:middle; -webkit-backface-visibility:hidden; }
a { color:#ed1e78; outline:none; text-decoration:none; }
a:visited { color:#ed1e78; }
a:hover { color:#2fcc50; }
a:active { color:#2fcc50; }
a img:hover { transition:all 0.1s ease; opacity:0.55; filter:alpha(opacity=55); -ms-filter:"alpha(opacity=55)"; }
ul { list-style:none; }
div { box-sizing:border-box}
p,li,td,a { font-size:1.6rem; box-sizing:border-box; line-height:2.4rem; }
h1,h2,h3 { box-sizing:border-box; transform:rotate(.03deg); -webkit-transform:rotate(.03deg); }

.floor { width:100%; max-width:1024px; padding:80px 10px; margin:0 auto; position:relative; z-index:1; scroll-behavior:smooth; }


.bg-change01 { background:url(../_img/page_bg_wht.png) top center repeat; }
.bg-change02 { background:url(../_img/page_bg_pnk.png) top center repeat; }
.bg-change03 { background:url(../_img/page_bg_yel.png) top center repeat; }

/* 文字の寄せ方向 */
	.t-center	{ text-align:center	!important }
	.t-left		{ text-align:left	!important }
	.t-right 	{ text-align:right	!important }

/* 文字色変更 */
	.red { color:#ed1e78 !important; }
	.grn { color:#29a563 !important; }
	.org { color:#ff8000 !important; }
	.pnk { color:#ff7bac !important; }
	.blu { color:#00bee8 !important; }

/* フォントサイズ調整 */
	.bold	{ font-weight:bold; }
	.big	{ font-weight:bold; font-size:150%; }
	.big02	{ font-weight:bold; font-size:120%; }
	.mini	{ font-weight:normal!important; font-size:80%; }

.t-shadow01 { text-shadow:#fff 2px 0px 2px, #fff -2px 0px 2px,#fff 0px -2px 2px, #fff -2px 0px 2px,#fff 2px 2px 2px, #fff -2px 2px 2px,#fff 2px -2px 2px, #fff -2px -2px 2px,#fff 1px 2px 2px, #fff -1px 2px 2px,#fff 1px -2px 2px, #fff -1px -2px 2px,#fff 2px 1px 2px, #fff -2px 1px 2px,#fff 2px -1px 2px, #fff -2px -1px 2px,#fff 1px 1px 2px, #fff -1px 1px 2px,#fff 1px -1px 2px, #fff -1px -1px 2px; }
.b-shadow01 { box-shadow:0px 0px 6px 3px rgba(0,0,0,.05); }


.mw-no { max-width:inherit!important; }
.w100 { width:100%!important}
.h100 { height:100%; }
.w50 { width:50%!important}
.w33 { width:33.33%!important}

.mt10 { margin-top:10px}

@media screen and (max-width:1024px) {
	body { min-height:inherit!important; min-width:inherit!important; }
	img { width:100%!important}
}

@media screen and (max-width:768px) {
	body:before { background:url(../_img/mv-img.jpg) center top/cover no-repeat; }
	a img:hover { transition:all 0.1s ease; opacity:1; filter:alpha(opacity=100); -ms-filter:"alpha(opacity=100)"; }
}

@media screen and (max-width:640px) {
	.t-center { text-align:left!important}
}

@media screen and (max-width:480px) {
	p,li,td,a { font-size:1.4rem; line-height:2.4rem; }
	.floor { padding:40px 5px; }
	.big { font-size:130%; }
	.big02 { font-size:110%; }
}


@media screen and (max-height:479px) {
	body { min-height:400px!important}
}


/* レスポンシブでの改行コントロール */
	br.pc { display:none; }
	@media screen and ( min-width:769px ) {
		br.pc { display:inherit; }
		br.sp { display:none; }
	}


/*---------------------------
loader
---------------------------*/
#loader-bg { position:fixed; width:100%; height:100%; top:0px; left:0px; background:#fff; z-index:9999}
#loading { position:absolute; left:50%; top:50%; -ms-transform:translate(-50%,-50%); -webkit-transform :translate(-50%,-50%); transform :translate(-50%,-50%); text-align:center; width:90%; max-width:240px; text-align:center; }
.loadimg { display:block; margin:0 auto; }
.loadtext { font-size:1.2rem; color:#000; letter-spacing:1px; }

@media screen and (max-width:480px) {
	#loading { max-width:180px; }
}

.loadanime { -webkit-animation:loada .3s linear; -moz-animation:loada .3s linear; animation:loada .3s linear; }

@keyframes loada {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes loada {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes loada {
	0% { opacity:0; }
	100% { opacity:1; }
}

@media screen and (max-width:480px) {
	.loading-bg { max-width:200px; max-height:78px; }
}




/*---------------------------
modal
---------------------------*/
.modal-age { position:fixed; display:none; z-index:9999; width:100%; max-width:640px; padding:30px; text-align:center; left:50%; top:50%; -ms-transform:translate(-50%,-50%); -webkit-transform :translate(-50%,-50%); transform :translate(-50%,-50%); }
.modal-logo { margin:0 auto 20px; max-width:320px; }
.modal-text { margin-bottom:10px; }
.modal-link-box { font-size:0}
.modal-link { cursor:pointer; display:inline-block; padding:10px; color:#fff!important; text-align:center; max-width:320px; width:48%; margin:1%; border-radius:25px; font-size:2rem; line-height:1; letter-spacing:1px; }
.close_modal { background:#2fcc50; }
.no_modal { background:#ccc; }

.close_modal:hover,.no_modal:hover,
.close_modal:active,.no_modal:active { background:#ff7cad; transition:all 0.1s ease; }

@media screen and (max-width:480px) {
	.modal-link { cursor:pointer; display:block; width:100%; margin:10px auto 20px}
}

/*---------------------------
見出し
---------------------------*/
.head-tit01 { display:inline-block; width:100%; position:relative; padding:7px 0; color:#fff; box-sizing:border-box; }
.head-tit01 h2 { margin:0 auto; width:calc(100% - 8px); }
.head-tit01 h2 span { display:inline-block; width:100%; border-top:2px solid #fff; border-bottom:2px solid #fff; padding-bottom:5px; text-align:center; font-size:2.8rem; line-height:1; letter-spacing:2px; }
.head-tit01 h2 span:first-letter { font-size:130%; }
.head-tit01:before,.head-tit01:after { content:""; width:100%; left:0; top:0; position:absolute; border-left:30px solid transparent; border-right:30px solid transparent; z-index:-1}
.head-tit01:before { border-bottom:58px solid #ff7bac; }
.head-tit01:after { border-top:58px solid #ff7bac; }

#news .head-tit01:before,#news .head-tit01:after { margin:0; border-left:none; }
#news .head-tit01:before { border-bottom:58px solid #ff7bac; }
#news .head-tit01:after { border-top:58px solid #ff7bac; }
#news .head-tit01 h2 span { text-align:left; }

.bg-change02 .head-tit01:before { border-bottom:58px solid #2fcc50; }
.bg-change02 .head-tit01:after { border-top:58px solid #2fcc50; }
.bg-change03 .head-tit01:before { border-bottom:58px solid #ffa722; }
.bg-change03 .head-tit01:after { border-top:58px solid #ffa722; }

@media screen and (max-width:640px) {
	#news .head-tit01:before,#news .head-tit01:after { border-left:30px solid transparent; }
	#news .head-tit01 h2 span { text-align:center; }
}

@media screen and (max-width:480px) {
	.head-tit01 { padding:4px 0; }
	.head-tit01 h2 { width:calc(100% - 5px); }
	.head-tit01 h2 span { font-size:2.6rem; line-height:2.6rem; padding:1px 0 5px; }
	.head-tit01:before { border-bottom:48px solid #ff7bac; }
	.head-tit01:after { border-top:48px solid #ff7bac; }
	#news .head-tit01:before { border-bottom:48px solid #ff7bac; }
	#news .head-tit01:after { border-top:48px solid #ff7bac; }
	.bg-change02 .head-tit01:before { border-bottom:48px solid #2fcc50; }
	.bg-change02 .head-tit01:after { border-top:48px solid #2fcc50; }
	.bg-change03 .head-tit01:before { border-bottom:48px solid #ffa722; }
	.bg-change03 .head-tit01:after { border-top:48px solid #ffa722; }
}

/*---------------------------
ドロワー
---------------------------*/
.drawer { display:none; width:60px; height:60px; box-sizing:border-box; flex-direction:row; align-items:center; justify-content:space-between; position:fixed; padding:15px; background:rgba(0,0,0,.55); border-radius:50%; cursor:pointer; cursor:hand; z-index:100; right:10px; top:10px; -webkit-transition:ease .2s; transition:ease .2s; }
.navbar_toggle { z-index:999; }
.nav-i { position:relative; display:block; height:2px; width:30px; background:#fff; -webkit-transition:ease .5s; transition:ease .5s; }
.nav-i:nth-child(1) { top:0; }
.nav-i:nth-child(2) { margin:8px 0; }
.nav-i:nth-child(3) { top:0; }

.drawer.head768 { width:40px; height:40px; padding:5px; border-radius:3px; }


@media screen and (max-width:1280px) {
	.drawer { display:flex; }

	/*-OPEN時の動き-*/
	.drawer.open .nav-i:nth-child(1) { top:10px; -webkit-transform:rotate(45deg); transform:rotate(45deg); }
	.drawer.open .nav-i:nth-child(2) { top:0; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); }
	.drawer.open .nav-i:nth-child(3)
		{ -webkit-transform:translateY(-50%); transform:translateY(-50%); opacity:0; }
	.menu-list.open { -webkit-transform:translateY(0); transform:translateY(0); -webkit-overflow-scrolling:touch; -webkit-transition:ease .5s; transition:ease .5s; height:100vh; width:100%; max-width:inherit; }
}

@media screen and (max-width:640px) {
	.drawer { top:15px}
	.drawer { width:40px; height:40px; padding:5px; border-radius:3px; }
}

@media screen and (max-width:480px) {
	.drawer { width:34px; height:34px; margin:0; top:18px}
	.drawer.head768 { width:34px; height:34px; }
	.nav-i { width:24px; }
}


/*---------------------------
header
---------------------------*/
#header { position:fixed; width:100%; top:0; left:0; right:0; bottom:0; z-index :99; height:52px; }/*height:100%*/
#h-nav { position:relative}
#header nav { border-top:5px solid #2fcc50; }
.h-logo { max-width:240px; position:absolute; top:0; left:5px; display:none}
.menu { width:100%; height:45px; padding:8px; transition:all 0.3s ease; background:#fff; box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 10px; position:relative}

.menu-list { font-size:0; text-align:center; }
.menu-list li { display:inline-block; margin:0 8px; transition:.3s; }
.menu-list a:first-letter { color:#ed1e78; font-size:130%; }
.menu-list a { color:#000; display:inline-block; transition:all 0.2s ease}
.menu-list a,
.menu-list span.t-no { font-size:2.0rem; text-align:center; }
.menu-list a:after,
.menu-list span.t-no:after { font-size:1.1rem; line-height:1.0rem; display:block; color:#fff; position:relative; z-index:-1; font-weight:normal; bottom:-2px; }

.menu-list a:hover { color:#ed1e78; -webkit-transform:scale(1.1); transform:scale(1.1); }

.m-new { position:relative; text-align:left; }
.m-new:after { position:absolute; width:40px; background:#2fcc50; color:#fff; content:"NEW"; border-radius:3px; letter-spacing:1px; font-size:1.0rem; line-height:1; padding:4px 0 2px; margin-top:-14px; left:50%; -ms-transform:translate(-50%,0); -webkit-transform :translate(-50%,0); transform :translate(-50%,0); text-align:center; font-weight:bold; }

.home-btn,.tw-btn { position:absolute; top:2px; max-width:40px; }
.home-btn { left:10px}
.tw-btn { left:55px}
.home-btn a,
.tw-btn a { background:#fff; border-radius:3px; overflow:hidden; display:block}
.home-btn a:after,
.tw-btn a:after { display:none; }

/* 言語切替 */
	.language.max-full { display:block}
	.language.max1280 { display:none; padding:0 0 100px}

	.language { position:absolute; top:7px; right:10px; border-collapse:collapse; border-left:1px solid #ff7bac; border-right:1px solid #ff7bac; }
	.language td { padding:8px 6px 7px; text-align:center; border-top:1px solid #ff7bac; border-bottom:1px solid #ff7bac; }

	.language td:nth-of-type(2n+1) { background:#fff}
	.language td:nth-of-type(2n) { background:#ffe6ef}

	.language a { font-size:1.2rem; line-height:1; display:block; }

	.language.max1280 { font-size:0; line-height:0; border:0; position:static}
	.language.max1280 a { font-size:1.6rem; display:inline-block; width:20%; border-right:1px solid #fff; font-weight:bold}
	.language.max1280 a:last-of-type { border-right:none}


.m-logo-wht { display:none}
.m-logo-pnk { display:none}

.head768 .menu { background:rgba(255,95,155,.8)!important; }
.head768 .menu-list a { color:#fff; }
.head768 .menu-list a::first-letter { color:#ff5; }
.head768 .menu-list a:after { }
.head768 .menu-list a:hover { color:#ff5; text-decoration:none; text-shadow:none!important; }
.head768 .menu-list a:hover:after { color:#ff5; text-decoration:none; text-shadow:none!important; }

@media screen and (max-width:1280px) {
	.h-logo { left:50%; -ms-transform:translate(-50%,0); -webkit-transform :translate(-50%,0); transform :translate(-50%,0); top:12px}

	.menu { background:rgba(255,255,255,0); box-shadow:none; height:60px}
	#header nav { border-top:none!important}
	.menu-list { position:absolute; -webkit-transform:translateY(-200%); transform:translateY(-200%); z-index:-1; height:100%; top:0; left:0; right:0; padding:70px 0 0; overflow-y:auto; background:rgba(0,0,0,.75); text-align:center}
	.menu-list li { display:block; }
	.menu-list a { display:block; padding:20px; border-bottom:1px solid rgba(255,255,255,.85); color:#fff!important; letter-spacing:1px}
	.menu-list a:hover { -webkit-transform:scale(1); transform:scale(1); }

	.home-btn,.tw-btn { top:10px; }

	.head768 .menu { height:60px}
	.head768 .menu-list { padding:70px 0 0; }
	#header.head768 nav { border-top:none!important}

	.m-new:after { position:absolute; left:0; top:45%; width:36px; height:36px; height:auto; padding:14px 0; -ms-transform:translate(0,-50%); -webkit-transform :translate(0,-50%); transform :translate(0,-50%); border-radius:50%; margin-top:0; }

	.head768 .h-logo { display:block; }
	.head768 .m-logo-wht { display:block}

	.language.max-full { display:none}
	.language.max1280 { display:block}
}

@media screen and (max-width:640px) {
	.menu { background:#fff; box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 10px; }
	.h-logo { display:block; top:50%; max-width:200px; -ms-transform:translate(-50%,-50%); -webkit-transform :translate(-50%,-50%); transform :translate(-50%,-50%); width:85%}
	.m-logo-pnk { display:block}
	.menu-list { padding:70px 0 0}
	.menu-list a:first-letter { color:#ff5; font-size:130%; }
	.head768 .menu { background:rgba(255,255,255,1)!important; box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 10px; }
	#header nav { border-top:5px solid #ff7bac!important}
	#header.head768 nav { border-top:5px solid #ff7bac!important}
	.head768 .m-logo-pnk { display:block}
	.head768 .m-logo-wht { display:none}
	.tw-btn { top:10px; left:10px}
	.home-btn { display:none}
}

@media screen and (max-width:480px) {
	.head768 .menu { padding:0 5px 5px; }

	.home-btn,.tw-btn { max-width:40px; }
	.home-btn { left:45px; top:10px}
	.tw-btn { left:5px; top:10px}

	.m-new:after { height:36px!important; padding:15px 0}
	.language.max1280 a { width:50%}
	.language.max1280 a:nth-of-type(2n) { border-right:none}
}

/*---------------------------
アニメ
---------------------------*/
/*-MVアニメ-*/
.mv-anime { -moz-animation:mva 3s both; animation:mva 3s both; opacity:1!important; display:block!important; }
@keyframes mva {
	0% { background-position:0 -300px; }
	20% { background-position:0 -300px; }
	100% { background-position:0 0; }
}
@-moz-keyframes mva {
	0% { background-position:0 -300px; }
	20% { background-position:0 -300px; }
	100% { background-position:0 0; }
}
@-webkit-keyframes mva {
	0% { background-position:0 -300px; }
	20% { background-position:0 -300px; }
	100% { background-position:0 0; }
}

@media screen and (max-width:1024px) {
	.mv-anime { -moz-animation:mva 2s both; animation:mva 2s both; }
	@keyframes mva {
		0% { opacity:0}
		100% { opacity:1}
	}
		@-moz-keyframes mva {
		0% { opacity:0}
		100% { opacity:1}
	}
	@-webkit-keyframes mva {
		0% { opacity:0}
		100% { opacity:1}
	}
}

/*---------------------------
リンクボタン
---------------------------*/
.more-box { width:100%; max-width:320px; margin:5px auto 0; box-sizing:border-box; background:#fff; position:relative; z-index:1}
.more { border:1px solid #ff7bac; color:#ff7bac; padding:10px 0; text-align:center; font-size:1.4rem; line-height:2.4rem; width:100%; display:block; text-decoration:none; position:relative}
.more:after { position:absolute; top:0; bottom:0; right:10px; margin:auto; width:8px; height:8px; border-top:2px solid #ff7bac; border-right:2px solid #ff7bac; -webkit-transform:rotate(45deg); transform:rotate(45deg); content:""; }
.more:hover { color:#fff!important; background:#ff7bac!important; transition:all 0.2s ease; -webkit-transform:all 0.2s ease; }
.more:hover:after { border-top:2px solid #fff; border-right:2px solid #fff; transition:all 0.2s ease; -webkit-transform:all 0.2s ease; }


/*---------------------------
banner
---------------------------*/
#banner { position:absolute; width:100%; background:rgba(255,255,255,.75); bottom:0; z-index:10}
#banner .floor { padding:5px}
.b-box { font-size:0; max-width:1024px; text-align:center}
.b-img { width:24%; margin:0 0.5%; display:inline-block; box-shadow:0px 0px 8px 1px rgba(255,255,255,.5); border:2px solid #fff; background:#fff; position:relative; }

@media screen and (max-width:480px) {
	#banner { position:static; background:none}
	#banner .floor { padding:5px; background:rgba(255,255,255,.75); }
	.b-img { width:100%; display:block; margin:5px 0; }
}

/*---------------------------
動画埋め込み
---------------------------*/
.movie { font-size:0; line-height:0; text-align:center; background:#f5f5f5; }
.m-box { width:70%; display:inline-block; padding:5px; box-sizing:border-box; }
.m-img { position:relative; width:100%; padding:58% 0 0 0; }
.m-img iframe { position:absolute; top:0; left:0; width:100%; height:100%; }

@media screen and (max-width:640px) {
	.m-box { width:100%; }
}




/*---------------------------
News
---------------------------*/
/* レイアウト */
	#news { position:relative; }
	#news a { text-decoration: none; }
	#news div.floor:nth-child(1) { display:flex; display:-ms-flexbox; }
	.news-box	{ width:72%; max-width:715px; padding:0 10px 0 0; }
	.tw-box		{ width:28%; max-width:280px; }

		/* #news { position:relative; }
		.news-box	{ float: left; width:72%; max-width:715px; padding:0 10px 0 0; }
		.tw-box		{ float:right; width:28%; max-width:280px; } */

		@media screen and (max-width:768px) {
			.news-list { height:320px; }
			#news div.floor:nth-child(1) { display:block; }
			.news-box	{ width:100%; margin:0 auto; padding:0; }
			.tw-box		{ width:100%; margin:0 auto; }
			.tw-box		{ max-width:inherit; margin:30px auto 0; background:#f5f5f5; text-align:center}
			.tw-box iframe { width:100%!important; max-width:480px!important; }
		}


#news { background:#fff; }
.tw-text { background:#fff; }
.news-list { padding:0 5px; margin:10px 0; height:380px; overflow-y:scroll; }
.news-bbline { border-bottom:1px solid #000; }
.news-list::-webkit-scrollbar { width:8px; }
.news-list::-webkit-scrollbar-track { background:rgba(255,255,255,0); border:none; border-radius:10px; box-shadow:none; }
.news-list::-webkit-scrollbar-thumb { background:#fff; border-radius:10px; box-shadow:none; }
.news-list:hover::-webkit-scrollbar-thumb { background:#ffa2ba; }

.news-list li { padding:25px 20px; border-bottom:1px dashed #ccc; }
.news-list li:first-of-type { padding:10px 20px 25px; }
.news-list li:last-of-type { border-bottom:none}
.news-list time { font-weight:bold; font-size:1.6rem; position:relative; display:block; color:#ff7bac}
.news-list time:before { content:"★"; color:#ff7bac; }
.news-list a,.news-list p { font-size:1.4rem; line-height:1.6rem; }
.news-list p { padding:2px 5px 0; margin:0 0 6px; }
.news-list p:last-of-type { margin:0}
time.new { padding:0 5px; color:#2fcc50; font-size:1.8rem; }
time.new:after { content:"NEW"; background:#2fcc50; color:#fff; padding:0 5px; margin:0 0 0 5px; border-radius:3px; font-size:1.2rem; position:relative; top:-3px; }

.news-list a { color:#39a7f2; text-decoration:underline}
.news-list a:visited { color:#39a7f2; text-decoration:underline}
.news-list a:hover { color:#ed1e78; }
.news-list a:active { color:#ed1e78; }

.news-more { position:relative; top:5px; font-size:1.2rem}
.news-more:before { position:absolute; top:0; bottom:0; left:-15px; margin:auto; width:8px; height:8px; border-top:2px solid #1cc9a6; border-right:2px solid #1cc9a6; -webkit-transform:rotate(45deg); transform:rotate(45deg); content:""; }


@media screen and (max-width:480px) {
	.news-list li { padding:20px 0}
	.news-list li:first-of-type { padding:10px 0 20px; }
}


/*---------------------------
topics
---------------------------*/
#sp-topics { font-size:0; line-height:0; position:relative; top:-50px}
.cont { padding:0; font-size:0; line-height:0}
#sp-topics .floor { padding:0 10px 80px}

#sp-topics h3.subtit:after { background:#f4e0e5; }
.topics-box { width:24%; display:inline-block; margin:0 0.5% 1%; position:relative; vertical-align:top; }
.topics-btn { position:relative; display:block; border:1px solid #ed1e78}
.topics-btn img { border:2px solid #fff}
span.cont-btn:hover { border:1px solid #e0e0e0; }

.topics-box p { padding:2px 5px; margin:0 0 2px; color:#fff}
p.cpn { background:#ffa1b0}/*キャンペーン*/
p.related { background:#ffbe76}/*関連商品*/
p.content { background:#6bd8bf}/*コンテンツ情報*/
p.column { background:#5ec9e0}/*コラム*/
p.privilege { background:#f791f1}/*特典*/
p.no-cont { background:#f4e0e5; color:#9c3351}/*ない場合*/

.c-new { width:40px; height:25px; position:absolute; top:-2px; right:5px; background:#ed1e78; text-align:center; z-index:10; padding:5px 0 0!important; font-weight:600; font-size:1.2rem; }
.c-new:before { content:""; border:20px solid #ed1e78; border-bottom:10px solid transparent; position:absolute; top:0; left:0; width:0; height:45px; z-index:-1}

.t-end a { position:relative; background:#000; width:100%; height:100%}
.t-end a img { opacity:0.5; filter:alpha(opacity=50); -ms-filter:"alpha(opacity=50)"; }
.t-end a:before { content:"このイベントは\A終了しました"; position:absolute; top:50%; left:50%; -ms-transform:translate(-50%,-50%); -webkit-transform :translate(-50%,-50%); transform :translate(-50%,-50%); color:#fff; z-index:1; width:100%; max-width:120px; text-align:center; white-space:pre; }


@media screen and (max-width:768px) {
#sp-topics { top:-10px}

.topics-box p { font-size:1.4rem; }

.c-new { width:20px; height:42px; -webkit-writing-mode:vertical-rl; -ms-writing-mode:tb-rl; writing-mode:vertical-rl; font-size:1.2rem!important; right:4px; text-align:left}
.c-new:before { border:10px solid #ed1e78; border-bottom:5px solid transparent; height:48px}
}

@media screen and (max-width:480px) {
	.topics-btn { padding:0; }
	.topics-box { width:49%; margin:0 0 2%}
	.topics-box:nth-of-type(2n+1) { margin:0 2% 2% 0}
}


/*---------------------------
Story
---------------------------*/
#story { position:relative; width:100%; }
.st-text-tit { display:block; margin:0 auto 10px; background:#ff7bac; padding:5px 0; max-width:640px; border-radius:25px; color:#fff; text-align:center}

.st-text { margin:0 auto;
	hanging-punctuation:force-end;
	word-break:keep-all;
	line-break:strict;
	word-wrap:break-word;
	overflow-wrap:break-word;
	width:100%; padding:30px 30px 0; line-height:2.8rem; text-align:center; }
.st-img { margin:0 auto 0; }

.st-catch {
	word-break:keep-all;
	line-break:strict;
	word-wrap:break-word;
	overflow-wrap:break-word;
	hanging-punctuation:force-end; }
.st-catch * {
	word-break:keep-all;
	line-break:strict;
	word-wrap:break-word;
	overflow-wrap:break-word;
	hanging-punctuation:force-end; }
.st-catch:after { content:""; display:block; background:rgba(255,255,255,.75); padding:8px 0; position:relative; top:-12px; z-index:-1; }
.st-c-sub { padding:3px; display:inline-block; background:#ed1e78; font-size:110%; font-weight:bold; color:#fff;  max-width:34px; width:100%; text-align:center; }

.st-brand { margin:30px auto 0; padding:30px; background:rgba(255,255,255,.75); font-size:0; }

.st-brand-tit { display:block; margin:0 0 20px; background:rgba(255,123,172,.25); padding:10px 0 5px; color:#ed1e78; text-align:center; }

.st-brand-img,
.st-brand-text { display:inline-block; vertical-align:middle; }
.st-brand-img { width:28%; max-width:480px; margin:0 auto}
.st-brand-text { width:72%; padding:0 0 0 30px; }

.st-brand-text a:hover { text-decoration:underline}
.st-brand-text a:active { text-decoration:underline}


@media screen and (max-width:640px) {
	.st-text { text-align:left; }
	.st-brand-img { width:40%; }
	.st-brand-text { width:60%; padding:0 0 0 10px}
	.st-brand-img,
	.st-brand-text { vertical-align:top; }
}

@media screen and (max-width:480px) {
	.st-text { line-height:2.4rem; padding:20px 0 5px; }
	.st-text .big { font-size:140%}
	.st-img { margin:0 auto -10px; }
	.st-brand { padding:10px}
	.st-brand-tit { margin:0 0 10px; }
	.st-brand-img,
	.st-brand-text { display:block; width:100%}
	.st-brand-img { max-width:180px; }
	.st-brand-text { padding:5px 0 0 }

	.st-c-sub { padding:4px; font-size:120%; max-width:28px; margin-right:3px; }

}


/*---------------------------
point
---------------------------*/
#point { position:relative; width:100%; }

.cont-box { width:100%; padding:30px 0 0; display:table; }
.cont-box:last-of-type { padding:30px 0; }
.p-tit,.p-text { display:table-cell; }
.p-tit { width:12%; background:rgba(0,192,235,.7); height:100%; font-size:2.4rem; line-height:2.4rem; text-align:center; vertical-align:middle; color:#fff; padding:0 10px}
.p-tit span { display:block}

.p-text { width:88%; padding:20px 10px; line-height:2.8rem; background:rgba(255,255,255,.9)}
.p-text .more-box { margin:-54px 0 0 auto; max-width:180px; }

.point { font-size:138%; font-weight:bold; padding:10px 0; position:relative; display:block; color:#ff7bac; }
.point:after { content:""; position:absolute; height:14px; width:100%; bottom:7px; left:0; background:rgba(255,222,171,.45); z-index:0}

.point span { position:relative; z-index:1}

.cont-box02 { width:100%; padding:30px 0 0; }
.cont-box02 .p-tit,
.cont-box02 .p-text { display:block; width:100%; padding:15px; }
.cont-box02 .p-tit { background:rgba(255,130,40,.7); line-height:3.2rem; }

@media screen and (max-width:768px) {
	.p-text .more-box { margin:5px 0 0 auto; }
}


@media screen and (max-width:480px) {
	.point { font-size:120%; padding:0 0 10px}
	.cont-box { display:block; padding:15px 0 0; }
	.cont-box:last-of-type { padding:15px 0 0; }
	.p-tit, .p-text { display:block}
	.p-tit { width:100%; padding:5px; font-size:2.0rem; line-height:2.0rem; }
	.p-tit span { display:inline-block; padding-left:10px}
	.p-text .more-box { margin:5px auto 0}
	.p-text { width:100%; line-height:2.4rem; padding:10px}
	.cont-box02 .p-tit { font-size:2.2rem}

}


/*---------------------------
chara
---------------------------*/
#chara,#chara-tit { position:relative; width:100%; overflow:hidden; }

#chara-tit.floor { padding:80px 10px 0!important; }
#chara .floor { padding:0 10px 40px; }
#chara #soukan.floor { max-width:800px; padding:40px 10px;}

.chara-line01,.chara-line02,.chara-line03,.chara-line04 { position:relative; width:100%; min-height:1000px; }

.chara-line01:after,
.chara-line02:after,
.chara-line03:after,
.chara-line04:after,
.chara-line01:before,
.chara-line02:before,
.chara-line03:before,
.chara-line04:before { content:""; position:absolute; bottom:0; left:0; height:0; width:0; border-style:solid; border-width:0 0 150px 100vw ; }
.chara-line01:before,
.chara-line02:before,
.chara-line03:before,
.chara-line04:before { bottom:280px}
.chara-line01:after,
.chara-line02:after,
.chara-line03:after,
.chara-line04:after { bottom:130px}

.chara-box-main { width:100%; min-height:700px; position:relative; }
.chara-info { width:62%; float:left; padding:40px 0 0 40px}

.chara-name { position:relative; height:80px; letter-spacing:2px; }
.chara-name:after { content:""; position:absolute; height:1px; width:100%; bottom:5px}
.c-name { padding:0 0 0 5px; position:absolute; bottom:10px}
.c-name:after { content:url(../_img/chara_sei_icn.png); display:inline-block; max-width:36px; max-height:36px; width:100%; height:100%; position:relative; bottom:-5px; margin-left:5px; }

.c-name:first-letter { font-size:150%; }
.c-name span { font-size:4.0rem; line-height:4.0rem; position:relative}
.c-name span:before { text-align:right; width:100%; font-size:1.4rem; line-height:1.4rem; position:absolute; top:-8px; letter-spacing:0; }


.c-cv { position:absolute; right:0; padding:5px 10px 8px; width:100%; text-align:right; bottom:0; z-index:-1; }
.c-cv p { font-size:2rem; letter-spacing:1px}

.chara-voice { position:absolute; top:0; right:0}
.sv-box { position:relative; z-index:2}
.sv-box img { cursor:pointer; cursor:hand; position:relative; max-width:42px; }
.sv-box img:hover { transition:all 0.2s ease; top:-2px; position:relative; }

.chara-cach { font-size:2.8rem; line-height:2.8rem; margin:40px auto 0; max-width:420px; position:relative; z-index:2}
.chara-cach .cach-l,
.chara-cach .cach-r { display:block; width:100%; white-space:nowrap; }
.chara-cach .cach-l { text-align:left; margin-bottom:5px; }
.chara-cach .cach-r { text-align:right; }
.chara-text { padding:40px 0 0 0; line-height:4.4rem; position:relative; z-index:2; }


.chara-sub-text { margin:40px auto 0; font-size:0; padding:0 5px; max-width:480px}
.chara-sub-text p:nth-of-type(2n) { text-align:left; min-width:20%; }
.chara-sub-text p:nth-of-type(2n+1) { color:#fff!important; text-align:center; border-radius:3px; }

.chara-sub-text p:nth-of-type(2n),
.chara-sub-text p:nth-of-type(2n+1) { display:inline-block; vertical-align:top; padding:2px 5px; margin:0 0 5px; font-size:1.4rem; }

/* 立ち絵 */
	.floor.charactor { overflow:visible; }

	.chara-img { position:relative; width:100%; z-index:1; max-width:600px; }
	.chara-img img { position:absolute; top:0; }

	@media screen and (min-width:769px) {
		#chara-box02b .chara-img img,
		#chara-box04b .chara-img img { left:-20%; right:inherit; }
	}

	@media screen and (min-width:641px) and (max-width:768px) {
		#chara-box02b .chara-img img,
		#chara-box04b .chara-img img { left:-60%; right:inherit; }
		#chara-box01b .chara-img img,
		#chara-box03b .chara-img img { right:-60%; left:inherit; }
	}

	@media screen and (max-width:640px) {
		.chara-img {
			position:absolute; z-index:-2;
			top:6%;
			left:50%;
			-ms-transform:translate(-50%,0);
			-webkit-transform :translate(-50%,0);
			transform :translate(-50%,0); }

			#chara-box04b .chara-img img { margin-top:80px; }
	}

	@media screen and (max-width:1024px) { .chara-img img { max-width:480px; top:15px; } }
	@media screen and (max-width:768px) { .chara-img img { max-width:420px} }
	@media screen and (max-width:640px) { .chara-img img { max-width:560px; } }
	@media screen and (max-width:480px) { .chara-img { width:120%; } }

/* 立ち絵・衣装切り替え */
	/* レイアウト */
		.chara-cos { position:relative; z-index:2; height:100px;}
		.chara-cos span { display:inline-block; box-sizing:border-box; overflow:hidden; cursor:pointer; position:relative; }

		.chara-cos span { height:100%; }
		/* 衣装2種 */ .chara-cos.kinds2 span { width:49%; }
		/* 衣装3種 */ .chara-cos.kinds3 span { width:32%; }

	/* デザイン */
		.chara-cos { font-size:0; margin:10px auto 0; text-align:center; }
		.chara-cos .active { padding:0; border:2px solid #ffa5c5; }
		.chara-cos .active img { transition:all 0.1s ease; opacity:0.5; filter:alpha(opacity=5); -ms-filter:"alpha(opacity=5)"; }
		.chara-cos span { margin:0.5%; max-width:285px; border-radius:14px; border:2px solid #fff; top:0; background:#fff}
		.chara-cos span:hover { transition:all 0.1s ease; top:-5px}

		@media screen and (max-width:640px) { .chara-cos span { width:48%; } }

		#chara-box01b .chara-cos span:active { border:2px solid #39a7f2; }
		#chara-box02b .chara-cos span:active { border:2px solid #ed1e78; }
		#chara-box03b .chara-cos span:active { border:2px solid #ff7e20; }
		#chara-box04b .chara-cos span:active { border:2px solid #20b852; }

		@media screen and (max-width:640px) { .chara-cos { margin:80% 0 0; } }
		@media screen and (max-width:480px) { .chara-cos { margin:90% 0 0; } }


		div.chara-cos span { background-position:center; }
		div.chara-cos span.cloth-1-1 { background-image:url(../_img/cloth-1-1_btn.png); }
		div.chara-cos span.cloth-1-2 { background-image:url(../_img/cloth-1-2_btn.png); }
		div.chara-cos span.cloth-1-3 { background-image:url(../_img/cloth-1-3_btn.png); }
		div.chara-cos span.cloth-2-1 { background-image:url(../_img/cloth-2-1_btn.png); }
		div.chara-cos span.cloth-2-2 { background-image:url(../_img/cloth-2-2_btn.png); }
		div.chara-cos span.cloth-2-3 { background-image:url(../_img/cloth-2-3_btn.png); }
		div.chara-cos span.cloth-3-1 { background-image:url(../_img/cloth-3-1_btn.png); }
		div.chara-cos span.cloth-3-2 { background-image:url(../_img/cloth-3-2_btn.png); }

/*------------*/

	#chara-box01b .c-name { }
	html[lang="jp"] #chara-box01b .c-name span:before { content:"はやほし あくる"; }
	#chara-box01b .c-name:first-letter,
	#chara-box01b .chara-cach { color:#39a7f2}
	#chara-box01b .chara-name:after,
	#chara-box01b .chara-sub-text p:nth-of-type(2n+1) { background:#39a7f2; }
	#chara-box01b .c-cv { background:rgba(180,235,255,.65); border-bottom:2px solid #39a7f2; }


	.chara-line01:before { border-style:solid; border-color:transparent transparent rgba(180,235,255,.65) transparent; }
	.chara-line01:after { border-style:solid; border-color:transparent transparent rgba(180,235,255,.65) transparent; transform:scale(1, -1); }

/*------------*/

	#chara-box02b .chara-info { float:right; padding:40px 40px 0 0; }
	#chara-box02b .c-name { }
	html[lang="jp"] #chara-box02b .c-name span:before { content:"ふるたち れん"; }
	#chara-box02b .c-name:first-letter,
	#chara-box02b .chara-cach,
	#chara-box02b .chara-lsg { color:#ed1e78; }
	#chara-box02b .chara-name:after,
	#chara-box02b .chara-sub-text p:nth-of-type(2n+1) { background:#ed1e78; }
	#chara-box02b .c-cv { background:rgba(255,222,236,.65); border-bottom:2px solid #ed1e78; }


	.chara-line02:before { border-style:solid; border-color:transparent transparent rgba(255,222,236,.65) transparent; transform:scale(-1, 1); }
	.chara-line02:after { border-color:transparent transparent rgba(255,222,236,.65) transparent; transform:scale(-1,-1); }


/*------------*/
	#chara-box03b .c-name { }
	html[lang="jp"] #chara-box03b .c-name span:before { content:"にしき しの"; }
	#chara-box03b .c-name:first-letter,
	#chara-box03b .chara-cach { color:#ff7e20}

	#chara-box03b .chara-name:after,
	#chara-box03b .chara-sub-text p:nth-of-type(2n+1) { background:#ff7e20; }

	#chara-box03b .c-cv { background:rgba(255,222,171,.65); border-bottom:2px solid #ff7e20; }

	.chara-line03:before { border-style:solid; border-color:transparent transparent rgba(255,222,171,.65) transparent; }
	.chara-line03:after { border-style:solid; border-color:transparent transparent rgba(255,222,171,.65) transparent; transform:scale(1, -1); }

/*------------*/

	#chara-box04b .chara-info { float:right; padding:40px 40px 0 0; }
	#chara-box04b .c-name { }
	html[lang="jp"] #chara-box04b .c-name span:before { content:"うどう あいら"; }

	#chara-box04b .c-name:first-letter,
	#chara-box04b .chara-cach,
	#chara-box04b .chara-lsg { color:#20b852; }

	#chara-box04b .chara-name:after,
	#chara-box04b .chara-sub-text p:nth-of-type(2n+1) { background:#20b852; }

	#chara-box04b .c-cv { background:rgba(172,243,195,.65); border-bottom:2px solid #20b852; }

	.chara-line04:before { border-style:solid; border-color:transparent transparent rgba(172,243,195,.65) transparent; transform:scale(-1, 1); }
	.chara-line04:after { border-color:transparent transparent rgba(172,243,195,.65) transparent; transform:scale(-1,-1); }


@media screen and (max-width:1024px) {
	.chara-box-main { min-height:750px; }

	.chara-line01:before,
	.chara-line02:before,
	.chara-line03:before,
	.chara-line04:before { bottom:150px}
	.chara-line01:after,
	.chara-line02:after,
	.chara-line03:after,
	.chara-line04:after { bottom:0px}

}

@media screen and (max-width:768px) {
	.chara-box-main { min-height:828px; }
	.chara-info,
	#chara-box02b .chara-info,
	#chara-box04b .chara-info { padding:40px 0 0}
	.chara-sub-text { padding:10px; }
	.chara-sub-text p:nth-of-type(2n),
	.chara-sub-text p:nth-of-type(2n+1) { font-size:1.2rem; }
	.chara-sub-text p:nth-of-type(2n+1) { padding:2px 0}
	.c-name span { font-size:3.6rem; line-height:3.6rem; }
	.c-name span:before { top:-8px; }
	.chara-box-main { min-height:auto; }
}

@media screen and (max-width:640px) {
	.chara-cach .cach-l, .chara-cach .cach-r { display:inline-block; text-align:left; width:auto; }
	.chara-cach { max-width:inherit; margin:20px auto 0}

	.chara-box-main { min-height:auto; height:100%; position:relative; }
	.chara-info,
	#chara-box02b .chara-info { width:100%; float:none; }
	.chara-cach { background:rgba(255,255,255,.8); padding:10px; }
	.chara-text { background:rgba(255,255,255,.8); padding:10px; }
	.chara-sub-text { background:rgba(255,255,255,.8); margin:0; max-width:inherit; }
	.sv-box img { max-width:48px; }
	.chara-sub-text p:nth-of-type(2n) { font-size:1.4rem; width:70%}
	.chara-sub-text p:nth-of-type(2n+1) { width:30%}

	.chara-line01:before,
	.chara-line02:before,
	.chara-line03:before,
	.chara-line04:before { border:none}
	.chara-line01:after,
	.chara-line02:after,
	.chara-line03:after,
	.chara-line04:after { border:none; width:100%; height:70%; bottom:0}
	.chara-line01:after { background:linear-gradient(-180deg, rgba(180,235,255,.65), rgba(180,235,255,0)); }
	.chara-line02:after { background:linear-gradient(-180deg, rgba(255,222,236,.65), rgba(255,222,236,0)); }
	.chara-line03:after { background:linear-gradient(-180deg, rgba(255,222,171,.65), rgba(255,222,171,0)); }
	.chara-line04:after { background:linear-gradient(-180deg, rgba(255,222,171,.65), rgba(255,222,171,0)); }

}

@media screen and (max-width:480px) {
	.chara-text { line-height:2.4rem}
	.chara-cos { margin:90% 0 0; }
	.chara-cach { font-size:1.8rem; line-height:2.2rem; margin:5px 0 0; }
	.chara-name { border-bottom:none}
	.chara-name:after { bottom:0}
	.c-name { position:static; padding:0 0 5px}
	.c-cv { position:static; text-align:left; }
	.chara-voice { top:40px; z-index:1}
	.sv-box img { max-width:40px; margin:0 1px; top:4px; }
	.sv-box img:hover { top:4px; }
}

@media screen and (max-width:400px) {
	.chara-name:after { bottom:-2px}
}

@media screen and (max-width:360px) {
	.sv-box img { max-width:36px; top:6px; }
	.sv-box img:hover { top:6px; }
}

/*---------------------------
chara-tab
---------------------------*/
.tab-box { }
.tab-sam { max-width:900px; margin:10px auto 20px; display:flex; justify-content:center; }

.tab-sam label { display:block; cursor:pointer; vertical-align:top; box-sizing:border-box; }
.tab-sam li { margin:0.5%; }
.tab-sam li img { border:2px solid #fff; }
.tab-sam li:hover img { transition:all 0.3s ease; opacity:0.55; filter:alpha(opacity=55); -ms-filter:"alpha(opacity=55)"; }
.tab-sam p { font-size:1.2rem; text-align:center}
.tab-sam a { display:block}
/*-
.tab-content #chara-box01:checked ~ .tab-sam li [for="chara-box01"],
.tab-content #chara-box02:checked ~ .tab-sam li [for="chara-box02"],
.tab-content #chara-box03:checked ~ .tab-sam li [for="chara-box03"],
.tab-content #chara-box04:checked ~ .tab-sam li [for="chara-box04"],
.tab-content #chara-box05:checked ~ .tab-sam li [for="chara-box05"] { opacity:0.55; filter:alpha(opacity=55); -ms-filter:"alpha(opacity=55)"; }

.tab-content input[name="chara-tab"] { display:none; }

.tab-box #chara-box01b,
.tab-box #chara-box02b,
.tab-box #chara-box03b,
.tab-box #chara-box04b,
.tab-box #chara-box05b { display:none; }
.tab-box #chara-box01:checked ~ #chara-box01b,
.tab-box #chara-box02:checked ~ #chara-box02b,
.tab-box #chara-box03:checked ~ #chara-box03b,
.tab-box #chara-box04:checked ~ #chara-box04b,
.tab-box #chara-box05:checked ~ #chara-box05b { display:block; }
--*/
@media screen and (max-width:640px) {
	.tab-sam { display:block; white-space:nowrap; -webkit-overflow-scrolling:touch; overflow-x:auto; overflow-y:hidden; padding:5px 0; margin:0 auto 15px}
	.tab-sam li { display:inline-block; width:40%; vertical-align:top}
}

@media screen and (max-width:480px) {
	.tab-sam { margin:0 auto 5px}
}

@media screen and (max-width:400px) {
	.tab-sam p { font-size:1.0rem; }
	.tab-sam li { width:45%; }
}


/*---------------------------
gallery
---------------------------*/
#gallery { position:relative; width:100%; }

.cg-box { width:100%; padding:30px 0 0; text-align:center; font-size:0; }
.cg-img { display:inline-block; width:48%; max-width:480px; margin:1%; background:#fff; box-shadow:0px 0px 8px 1px rgba(237,27,87,.15); vertical-align:top; position:relative; }
.cg-img a { display:block}
.cg-img img { border:2px solid #fff; }

.cg-new p,
.cg-new p:after,
.cg-new p:before,
.cg-new p span { content:""; width:40px; height:40px; background-color:#ff7bac; position:absolute; top:0; left:0; }
.cg-new,
.cg-new p,
.cg-new p:after,
.cg-new p:before { -webkit-transform:rotate(22.5deg); -moz-transform:rotate(22.5deg); }
.cg-new p span { -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); text-align:center; z-index:999; line-height:40px; color:#fff; font-size:1.4rem; font-weight:bold; }
.cg-new { position:absolute; width:40px; height:40px; background-color:#ff7bac; z-index:1; top:-8px; left:-8px; }

.hover-text { text-align:center; font-size:1.0rem; color:#fff}
.cg-on { width:100%; max-width:800px; z-index:0; position:relative; }
.cg-on img:hover { transition:0.3s; opacity:0; }


@media screen and (max-width:480px) {
	.cg-img { display:block; width:98%; max-width:400px; margin:2% auto; }
	.cg-new p,
	.cg-new p:after,
	.cg-new p:before,
	.cg-new p span { width:32px; height:32px; }
	.cg-new p span { line-height:32px; font-size:1.2rem; }
	.cg-new { width:32px; height:32px; top:0; left:0; }
}

@media screen and (max-width:400px) {
	.cg-img { margin:2% auto 3%; }
}

/*---------------------------
spec
---------------------------*/
#spec { position:relative; width:100%; }
#spec .floor:first-of-type { padding:80px 10px 0; }
#spec .floor:last-of-type { padding:20px 10px 80px; }
#spec .head-tit01 { margin-bottom:40px}
#spec li { line-height:2.0rem; }

.spec-tit { text-align:center; font-size:1.8rem; margin:10px 0; display:block; }
.spec-tit02 { font-size:1.4rem; background:#ed1e78; color:#fff; display:block; max-width:240px; margin:0 auto 5px; padding:5px 0; text-align:center; font-weight:900}

.spec-text { display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; text-align:center; overflow:hidden; }
.spec-text .block { display:block; text-align:center}
.spec-text li { font-size:1.6rem; font-weight:400; letter-spacing:1px; -webkit-box-flex:0; -ms-flex:0 0 auto; flex:0 0 auto; padding:15px; }
.s-name { vertical-align:baseline; font-size:1.2rem; font-weight:900; margin-right:5px; color:#ed1e78}

.item-spec-list { max-width:1024px; margin:0 auto; background:rgba(255,255,255,.5)}
.item-spec-list,.item-spec-list td { border-collapse:collapse; border:1px solid #9c3351; }
.item-spec-list td { width:50%; padding:10px; box-sizing:border-box; font-size:1.2rem; line-height:1.4rem; }
.item-spec-list tr:first-of-type td,
.item-spec-list tr:last-of-type td { text-align:center}
.item-spec-list tr:first-of-type td { font-size:1.4rem; line-height:1.6rem; font-weight:bold; letter-spacing:1px; }
.item-spec-img-box { font-size:0!important; vertical-align:top}
.item-spec-img,.item-spec-text { display:inline-block; box-sizing:border-box; vertical-align:top; }
.item-spec-img { width:55%!important; }
.item-spec-text { width:45%; padding:0 0 0 5px; }
.item-spec-text .mini { display:inline-block}
.item-spec-text-sub { display:block; background:#ffa1b0; padding:5px 8px; box-sizing:border-box; margin:10px 0 2px; color:#fff; font-size:1.2rem; line-height:1.2rem}
.item-spec-text-sub:first-of-type { margin:0 0 2px; }

.img-box-spec { margin:10px auto; font-size:0}
.img-box-spec img { border:2px solid #fff; box-shadow:0px 0px 8px 3px #f4dde7; }
.img-sam-spec { padding:5px; display:inline-block; width:25%; box-sizing:border-box}

@media screen and (max-width:768px) {
	.spec-text { display:-webkit-block; display:-ms-block; display:block; -webkit-box-pack:left; -ms-flex-pack:left; justify-content:left; text-align:left}
	.spec-tit02 { max-width:none; width:100%}

	.spec-text .block { text-align:left}

	.img-box-spec { text-align:center}
	.img-sam-spec { width:40%}
}

@media screen and (max-width:640px) {
	.item-spec-img { width:100%!important; }
	.item-spec-text { width:100%; padding:0; }
	.item-spec-text-sub:first-of-type { margin:10px 0 2px; }
	.img-sam-spec { width:49%}
}

@media screen and (max-width:480px) {
	#spec .floor:first-of-type { padding:40px 10px 0; }
	#spec .floor:last-of-type { padding:15px 10px 10px; }
	#spec .head-tit01 { margin-bottom:15px}

	.item-spec-list td { padding:5px; }
	.item-spec-list tr:first-of-type td { text-align:left}
	.spec-text li { padding:15px 5px}
	.s-name { display:block}
	.img-sam-spec { padding:3px}
}


/*---------------------------
footer
---------------------------*/
footer { position:relative; min-width:1024px; background:#fff; }
#footer { position:relative; z-index:10; }
.copy { color:#fff; font-size:1.2rem; text-align:center; background:#ed1e78}
.footimg { display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; padding:20px 0 10px; }
.footimg div { -webkit-box-flex:0; -ms-flex:0 0 auto; flex:0 0 auto; padding:5px 15px; }

@media screen and (max-width:768px) {
footer { min-width:inherit; min-width:auto; }
.footimg { display:-webkit-blox; display:-ms-blox; display:blox; }
.footimg div { -webkit-box-flex:none; -ms-flex:none; flex:none; padding:0 3% 1%; display:inline-block; width:25%; }
}

@media screen and (max-width:420px) {
	.footimg div { padding:0 2% 1%; display:inline-block; width:25%; }
}


/*---------------------------
SUPPORT
---------------------------*/

.support-box { width:100%; }
.supp-text { margin:0 auto 30px; text-align:center; }

.sup-text-sub { max-width:768px; padding:20px; text-align:center; margin:20px auto 0; background:rgba(255,123,172,.15); }
.sup-text-sub-tit { width:90%; max-width:640px; display:block; margin:0 auto 5px; background:#ff7bac; color:#fff; font-size:120%; padding:5px 0 3px; }


.support-box fieldset { max-width:768px; margin:0 auto; padding:20px 0; border:none; position:relative}
.support-box button,
.support-box input,
.support-box select,
.support-box textarea { font-size:1.4rem!important; line-height:1.8rem!important; width:100%; padding:8px; box-sizing:border-box; margin:0 0 35px; }
.support-box button,
.support-box input,
.support-box select,
.support-box textarea { height:32px; border-bottom:1px solid #ff7bac!important; background:rgba(0,0,0,.02)!important; cursor:pointer; cursor:hand; }
.support-box textarea { height:120px; }

.support-box label p { font-size:1.6rem; padding:0 0 5px; }
.support-box label p:before { content:"★"; color:#ff7bac; display:inline-block; margin-right:2px; }

.support-box input:focus,
.support-box textarea:focus,
.support-box select:focus { background-color:#ff7bac!important; outline:none; color:#fff!important}

#submit_press { width:80%; margin:0 auto}
input.submit {
	width:100%;
	height:40px;
	line-height:30px;
	border:1px solid #ff7bac!important;
	color:#fff!important;
	margin:0 auto;
	padding:0;
	cursor:pointer;
	font-size:2.0rem!important;
	background:#ff7bac!important;
}
input.submit:hover { background:rgba(255,123,172,.15)!important; color:#ff7bac!important; }
#submit_press input { border:none}

.support-send { position:relative; width:100%; height:80%; bottom:0px; left:0px; z-}
.support-send .supp-text { position:absolute; left:50%; top:50%; -ms-transform:translate(-50%,-50%); -webkit-transform :translate(-50%,-50%); transform :translate(-50%,-50%); border:none}


@media screen and (max-width:768px) {
.support-box { padding:5px; }
.supp-text { text-align:left}
}

@media screen and (max-width:480px) {
	.sup-text-sub { text-align:left; padding:10px; }
	.sup-text-sub-tit { text-align:center}
	.sup-text-sub .bold { text-align:center; display:block}

}



@media screen and ( min-width:   0px ) {
	body {
		background-image: url(../_img/background-append_sp.jpg);
		background-position:0px 60px;
		background-repeat:no-repeat;
		background-size:100% auto;
	}
}
@media screen and ( min-width: 600px ) {
	body {
		background-image: url(../_img/background-append_tb.jpg);
		background-position:top;
		background-repeat:no-repeat;
		background-size:cover;
	}
}
@media screen and ( min-width: 1024px ) {
	body {
		background-image: url(../_img/background-append_pc.jpg);
		background-position:top;
		background-repeat:no-repeat;
		background-size:cover;
	}
}

section.additional { min-height:100vh; padding-top: 45px; position:relative;}

div.textbox p {
	display:inline-block;
}

div.textbox p {
	background-color: rgba(255, 255, 255, 0.5);
}

span.headline {
	display:block;
	font-size: 2.4rem;
	font-weight: bold;
	margin-bottom: 2rem;
	width:100%;
	text-align: center;
	background-color: #ff7bac;
	color:#FFF;
	padding:1rem;
	border-radius: 6px;
}

	@media screen and ( min-width:   0px ) {
		div.textbox p {
			padding: 2rem;
			position: absolute; bottom:0;
			}
	}
	@media screen and ( min-width: 600px ) {
		div.textbox p {
			background-color: rgba(255, 255, 255, 0.7);
			border-radius: 4px;
			padding: 4rem;
			margin: 4rem;
			position: absolute; bottom:0;
			}
	}
	@media screen and ( min-width:1500px ) {
		div.textbox p {
			background-color: rgba(255, 255, 255, 0.7);
			border-radius: 4px;
			padding: 4rem;
			margin: 4rem;
			position: absolute; bottom:0; right:0;
			max-width: 24%;
			display:inline-block;
			}
	}

html[lang="en"] li.only-jp,
html[lang="zh-cmn-Hans"] li.only-jp,
html[lang="zh-cmn-Hant"] li.only-jp,
html[lang="ko"] li.only-jp { display:none; }
.font02 { font-family:'Candal', sans-serif; }